body {
    max-width: 100vw;
    font-family: 'Roboto', sans-serif;
}

header {
    width: 100vw;
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
}

.search-container {
    width: 100vw;
    padding: .5em;
    display: flex;
    flex-direction: row;
    align-items: center;
}

#main {
    margin: 1em 1.5em .5em 1em;
}

.logo {
    width: 6em;
}

.search-bar {
    border: 1px solid #d3d3d3;
    border-radius: 3em;
    padding: .6em;
    display: grid;
    grid-template-columns: 10fr 1fr 1fr;
    justify-items: center;
    margin-right: 10em;
}

.search-bar:hover {
    -webkit-box-shadow: 0px 0px 9px 0px rgba(50, 50, 50, 0.29);
    -moz-box-shadow:    0px 0px 9px 0px rgba(50, 50, 50, 0.29);
    box-shadow:         0px 0px 9px 0px rgba(50, 50, 50, 0.29);
}

input[type="text"] {
    width: 40em;
    border: none;
    padding: 0;

}

input[type="image"]{
    margin: 0 auto;
}

.search {
    padding: 0 1em;
    border-left: 1px solid grey;
}

.account-info {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
}


.account-info img {
    margin-left: .3em;
    max-width: 3em;
    border-radius: 50%;
}

nav {
    font-size: .8em;
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    padding-bottom: 1em;
    border-bottom: 1px solid #d3d3d3;
    padding-left: 13%;
}

.nav-option {
    margin: .5em;
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
}

a {
    text-decoration: none;
    color: black;
}
.nav-option img {
    width: 1.2em;
    margin: 0 .5em 0 1em;
}

.tools {
    padding-left: 5em;
}

.tools a {
    margin: .5em;
}